body {
    justify-content: center;
    width:800px;
    height: 600px;;
}

.cabecalho {
    display: flex;
    margin: 30px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

main {
    height: 400px;
}

footer {
    background-color: rgb(94, 93, 93);
    color: white;
    text-align: center;
    padding: 5px;
    margin-left: 30px;
    margin-right: 30px;
}