.bordaSuperior {
    background-color: rgb(44, 43, 43);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.btnMenu {
    width: 40px;
    height: 40px;
    margin: 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.tituloMenu {
    border-bottom: 2px solid rgb(35, 33, 199);
}

.subtituloMenu {
    text-decoration: none;
    list-style-type: none;
}

.links {
    padding-left: 5px;
    text-decoration: none;
    color: black;
}

.btnModal {
    background-color: white;
    color: black;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}

.icones {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.modal {
    --bs-modal-width: 800px;
}

.form-conteniner{
    margin: 10px;
}

#btnEnvio {
    background-color: rgb(70, 180, 103);
    border-radius: 5px;
    border: white;
    color: white;
    padding: 10px;
    margin-top: 1px;
    margin-bottom: 20px;
}

.btnForm {
    background-color: steelblue;
    border-radius: 5px;
    border: white;
    color: white;
}

.banner {
    background-color: rgba(182, 178, 178, 0.329);
    display: flex;
    align-items: center;
    margin: 0;
    height: 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.banner-text {
    margin-left: 20px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;  
}

.title {
    margin: 1px;
    font-size: 18px;
}

.subtitle {
    margin: 1px;
    font-size: 16px;
}

.formulario {
    margin: 20px;
    background-color:rgba(182, 178, 178, 0.329);
    padding: 20px;
    border-radius: 10px;
}


.subtitle2 {
    margin: 1px;
    font-size: 14px;
}

.formPaciente {
    display: flex;
}

#dataDoPedido {
    width: 200px;
    margin-right: 10px;
}

#sis {
    width: 200px;
    margin-right: 10px;
}

#nome {
    width: 800px;
    margin-right: 10px;
}

.formRadiografias {
    margin-top: 10px;
}